#icons{
    background-color: #2038A5;
    color: aliceblue;
    text-align: right;
    padding: 2vw;
}
#icons span{
    cursor: pointer;
    border-radius: 50%;
    padding: 1vw;
    background-color:black;
    margin: 1vw;
}
.f{
    background-color:#3D4C98 !important;
    color: white;
}
/* #img{
    width: 100%;
} */
img{
    width: 100%;
}