*{
  margin: 0%;
  padding: 0%;
}
.App {
  text-align: center;
}


nav ul{
  background-color: #152343;
  border-top: 5px solid #606FA9;
  border-bottom: 3px solid #606FA9;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
nav li{
  color: aliceblue;
  padding: 2vw;
  margin-left: 0%;
  width: 25vh;
}
a{
  color: aliceblue;
  text-decoration: none;
}
nav{
  margin-bottom: 10%;
}

